@charset "UTF-8";
/* css 註解 */
.container .logo {
  width: 120px;
  height: 30px;
}

.container nav .menu {
  list-style: none;
}

.container nav .menu li {
  background-color: #c4c4c4;
  padding: 10px;
  width: 150px;
}

.container nav .menu li:hover {
  background-color: #ff8585;
}

.container nav .menu li::before {
  content: 'before';
  margin-right: 10px;
}

.container nav .menu li::after {
  content: 'after';
  color: #1780ff;
}

.about_wrapper {
  width: 1200px;
}

body {
  margin: 10px 10px 10px 2px;
  padding: 10px;
  font-size: 20px;
  color: #727272;
  background-color: #fff;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 12px;
}

h1 {
  margin: 0px;
}

.box {
  width: 21px;
  height: 8px;
  max-width: 200px;
  font: 0.5;
  margin: 6;
}

.btn-w {
  width: 190px;
  padding: 13px;
  background-color: #333;
}

.box2 {
  width: 200px;
  height: 100px;
  background-color: #c6c6c6;
}

.box3 {
  width: 200px;
  height: 100px;
  background-color: #c6c6c6;
}

.btn_big {
  width: 200px;
  padding: 12px;
}

.btn_medium {
  width: 180px;
  padding: 10px;
}

.rect {
  width: 100px;
}

.btn-error {
  width: 160px;
  padding: 13px;
  background-color: #f54d44;
  text-align: center;
  cursor: pointer;
  border-radius: 12px;
  transition: .2s all ease;
  border: 3px solid #6d0000;
  color: #fff;
}

.btn-error:hover {
  background-color: #c8140b;
}

.btn-success {
  width: 140px;
  padding: 10px;
  background-color: #5dffe1;
  text-align: center;
  cursor: pointer;
  border-radius: 12px;
  transition: .2s all ease;
}

.btn-success:hover {
  background-color: #00f6c8;
}

.btn-info {
  width: 140px;
  padding: 10px;
  background-color: #5d86ff;
  text-align: center;
  cursor: pointer;
  border-radius: 12px;
  transition: .2s all ease;
}

.btn-info:hover {
  background-color: #003ef6;
}

.box4 {
  width: 100px;
  height: 30px;
  text-align: center;
}

.push-left1 {
  position: relative;
  left: 1px;
}

.push-left2 {
  position: relative;
  left: 2px;
}

.push-left3 {
  position: relative;
  left: 3px;
}

.push-left4 {
  position: relative;
  left: 4px;
}

.push-left5 {
  position: relative;
  left: 5px;
}

.push-left6 {
  position: relative;
  left: 6px;
}

.push-left7 {
  position: relative;
  left: 7px;
}

.push-left8 {
  position: relative;
  left: 8px;
}

.push-left9 {
  position: relative;
  left: 9px;
}

.push-left10 {
  position: relative;
  left: 10px;
}

.push-left11 {
  position: relative;
  left: 11px;
}

.push-left12 {
  position: relative;
  left: 12px;
}

.push-left13 {
  position: relative;
  left: 13px;
}

.push-left14 {
  position: relative;
  left: 14px;
}

.push-left15 {
  position: relative;
  left: 15px;
}

.push-left16 {
  position: relative;
  left: 16px;
}

.push-left17 {
  position: relative;
  left: 17px;
}

.push-left18 {
  position: relative;
  left: 18px;
}

.push-left19 {
  position: relative;
  left: 19px;
}

.push-left20 {
  position: relative;
  left: 20px;
}

.push-left21 {
  position: relative;
  left: 21px;
}

.push-left22 {
  position: relative;
  left: 22px;
}

.push-left23 {
  position: relative;
  left: 23px;
}

.push-left24 {
  position: relative;
  left: 24px;
}

.push-left25 {
  position: relative;
  left: 25px;
}

.push-left26 {
  position: relative;
  left: 26px;
}

.push-left27 {
  position: relative;
  left: 27px;
}

.push-left28 {
  position: relative;
  left: 28px;
}

.push-left29 {
  position: relative;
  left: 29px;
}

.push-left30 {
  position: relative;
  left: 30px;
}

.push-left31 {
  position: relative;
  left: 31px;
}

.push-left32 {
  position: relative;
  left: 32px;
}

.push-left33 {
  position: relative;
  left: 33px;
}

.push-left34 {
  position: relative;
  left: 34px;
}

.push-left35 {
  position: relative;
  left: 35px;
}

.push-left36 {
  position: relative;
  left: 36px;
}

.push-left37 {
  position: relative;
  left: 37px;
}

.push-left38 {
  position: relative;
  left: 38px;
}

.push-left39 {
  position: relative;
  left: 39px;
}

.push-left40 {
  position: relative;
  left: 40px;
}

.push-left41 {
  position: relative;
  left: 41px;
}

.push-left42 {
  position: relative;
  left: 42px;
}

.push-left43 {
  position: relative;
  left: 43px;
}

.push-left44 {
  position: relative;
  left: 44px;
}

.push-left45 {
  position: relative;
  left: 45px;
}

.push-left46 {
  position: relative;
  left: 46px;
}

.push-left47 {
  position: relative;
  left: 47px;
}

.push-left48 {
  position: relative;
  left: 48px;
}

.push-left49 {
  position: relative;
  left: 49px;
}

.push-left50 {
  position: relative;
  left: 50px;
}

.push-left51 {
  position: relative;
  left: 51px;
}

.push-left52 {
  position: relative;
  left: 52px;
}

.push-left53 {
  position: relative;
  left: 53px;
}

.push-left54 {
  position: relative;
  left: 54px;
}

.push-left55 {
  position: relative;
  left: 55px;
}

.push-left56 {
  position: relative;
  left: 56px;
}

.push-left57 {
  position: relative;
  left: 57px;
}

.push-left58 {
  position: relative;
  left: 58px;
}

.push-left59 {
  position: relative;
  left: 59px;
}

.push-left60 {
  position: relative;
  left: 60px;
}

.push-left61 {
  position: relative;
  left: 61px;
}

.push-left62 {
  position: relative;
  left: 62px;
}

.push-left63 {
  position: relative;
  left: 63px;
}

.push-left64 {
  position: relative;
  left: 64px;
}

.push-left65 {
  position: relative;
  left: 65px;
}

.push-left66 {
  position: relative;
  left: 66px;
}

.push-left67 {
  position: relative;
  left: 67px;
}

.push-left68 {
  position: relative;
  left: 68px;
}

.push-left69 {
  position: relative;
  left: 69px;
}

.push-left70 {
  position: relative;
  left: 70px;
}

.push-left71 {
  position: relative;
  left: 71px;
}

.push-left72 {
  position: relative;
  left: 72px;
}

.push-left73 {
  position: relative;
  left: 73px;
}

.push-left74 {
  position: relative;
  left: 74px;
}

.push-left75 {
  position: relative;
  left: 75px;
}

.push-left76 {
  position: relative;
  left: 76px;
}

.push-left77 {
  position: relative;
  left: 77px;
}

.push-left78 {
  position: relative;
  left: 78px;
}

.push-left79 {
  position: relative;
  left: 79px;
}

.push-left80 {
  position: relative;
  left: 80px;
}

.push-left81 {
  position: relative;
  left: 81px;
}

.push-left82 {
  position: relative;
  left: 82px;
}

.push-left83 {
  position: relative;
  left: 83px;
}

.push-left84 {
  position: relative;
  left: 84px;
}

.push-left85 {
  position: relative;
  left: 85px;
}

.push-left86 {
  position: relative;
  left: 86px;
}

.push-left87 {
  position: relative;
  left: 87px;
}

.push-left88 {
  position: relative;
  left: 88px;
}

.push-left89 {
  position: relative;
  left: 89px;
}

.push-left90 {
  position: relative;
  left: 90px;
}

.push-left91 {
  position: relative;
  left: 91px;
}

.push-left92 {
  position: relative;
  left: 92px;
}

.push-left93 {
  position: relative;
  left: 93px;
}

.push-left94 {
  position: relative;
  left: 94px;
}

.push-left95 {
  position: relative;
  left: 95px;
}

.push-left96 {
  position: relative;
  left: 96px;
}

.push-left97 {
  position: relative;
  left: 97px;
}

.push-left98 {
  position: relative;
  left: 98px;
}

.push-left99 {
  position: relative;
  left: 99px;
}

.push-left100 {
  position: relative;
  left: 100px;
}

.push-left101 {
  position: relative;
  left: 101px;
}

.push-left102 {
  position: relative;
  left: 102px;
}

.push-left103 {
  position: relative;
  left: 103px;
}

.push-left104 {
  position: relative;
  left: 104px;
}

.push-left105 {
  position: relative;
  left: 105px;
}

.push-left106 {
  position: relative;
  left: 106px;
}

.push-left107 {
  position: relative;
  left: 107px;
}

.push-left108 {
  position: relative;
  left: 108px;
}

.push-left109 {
  position: relative;
  left: 109px;
}

.push-left110 {
  position: relative;
  left: 110px;
}

.push-left111 {
  position: relative;
  left: 111px;
}

.push-left112 {
  position: relative;
  left: 112px;
}

.push-left113 {
  position: relative;
  left: 113px;
}

.push-left114 {
  position: relative;
  left: 114px;
}

.push-left115 {
  position: relative;
  left: 115px;
}

.push-left116 {
  position: relative;
  left: 116px;
}

.push-left117 {
  position: relative;
  left: 117px;
}

.push-left118 {
  position: relative;
  left: 118px;
}

.push-left119 {
  position: relative;
  left: 119px;
}

.push-left120 {
  position: relative;
  left: 120px;
}

.push-left121 {
  position: relative;
  left: 121px;
}

.push-left122 {
  position: relative;
  left: 122px;
}

.push-left123 {
  position: relative;
  left: 123px;
}

.push-left124 {
  position: relative;
  left: 124px;
}

.push-left125 {
  position: relative;
  left: 125px;
}

.push-left126 {
  position: relative;
  left: 126px;
}

.push-left127 {
  position: relative;
  left: 127px;
}

.push-left128 {
  position: relative;
  left: 128px;
}

.push-left129 {
  position: relative;
  left: 129px;
}

.push-left130 {
  position: relative;
  left: 130px;
}

.push-left131 {
  position: relative;
  left: 131px;
}

.push-left132 {
  position: relative;
  left: 132px;
}

.push-left133 {
  position: relative;
  left: 133px;
}

.push-left134 {
  position: relative;
  left: 134px;
}

.push-left135 {
  position: relative;
  left: 135px;
}

.push-left136 {
  position: relative;
  left: 136px;
}

.push-left137 {
  position: relative;
  left: 137px;
}

.push-left138 {
  position: relative;
  left: 138px;
}

.push-left139 {
  position: relative;
  left: 139px;
}

.push-left140 {
  position: relative;
  left: 140px;
}

.push-left141 {
  position: relative;
  left: 141px;
}

.push-left142 {
  position: relative;
  left: 142px;
}

.push-left143 {
  position: relative;
  left: 143px;
}

.push-left144 {
  position: relative;
  left: 144px;
}

.push-left145 {
  position: relative;
  left: 145px;
}

.push-left146 {
  position: relative;
  left: 146px;
}

.push-left147 {
  position: relative;
  left: 147px;
}

.push-left148 {
  position: relative;
  left: 148px;
}

.push-left149 {
  position: relative;
  left: 149px;
}

.push-left150 {
  position: relative;
  left: 150px;
}

.push-left151 {
  position: relative;
  left: 151px;
}

.push-left152 {
  position: relative;
  left: 152px;
}

.push-left153 {
  position: relative;
  left: 153px;
}

.push-left154 {
  position: relative;
  left: 154px;
}

.push-left155 {
  position: relative;
  left: 155px;
}

.push-left156 {
  position: relative;
  left: 156px;
}

.push-left157 {
  position: relative;
  left: 157px;
}

.push-left158 {
  position: relative;
  left: 158px;
}

.push-left159 {
  position: relative;
  left: 159px;
}

.push-left160 {
  position: relative;
  left: 160px;
}

.push-left161 {
  position: relative;
  left: 161px;
}

.push-left162 {
  position: relative;
  left: 162px;
}

.push-left163 {
  position: relative;
  left: 163px;
}

.push-left164 {
  position: relative;
  left: 164px;
}

.push-left165 {
  position: relative;
  left: 165px;
}

.push-left166 {
  position: relative;
  left: 166px;
}

.push-left167 {
  position: relative;
  left: 167px;
}

.push-left168 {
  position: relative;
  left: 168px;
}

.push-left169 {
  position: relative;
  left: 169px;
}

.push-left170 {
  position: relative;
  left: 170px;
}

.push-left171 {
  position: relative;
  left: 171px;
}

.push-left172 {
  position: relative;
  left: 172px;
}

.push-left173 {
  position: relative;
  left: 173px;
}

.push-left174 {
  position: relative;
  left: 174px;
}

.push-left175 {
  position: relative;
  left: 175px;
}

.push-left176 {
  position: relative;
  left: 176px;
}

.push-left177 {
  position: relative;
  left: 177px;
}

.push-left178 {
  position: relative;
  left: 178px;
}

.push-left179 {
  position: relative;
  left: 179px;
}

.push-left180 {
  position: relative;
  left: 180px;
}

.push-left181 {
  position: relative;
  left: 181px;
}

.push-left182 {
  position: relative;
  left: 182px;
}

.push-left183 {
  position: relative;
  left: 183px;
}

.push-left184 {
  position: relative;
  left: 184px;
}

.push-left185 {
  position: relative;
  left: 185px;
}

.push-left186 {
  position: relative;
  left: 186px;
}

.push-left187 {
  position: relative;
  left: 187px;
}

.push-left188 {
  position: relative;
  left: 188px;
}

.push-left189 {
  position: relative;
  left: 189px;
}

.push-left190 {
  position: relative;
  left: 190px;
}

.push-left191 {
  position: relative;
  left: 191px;
}

.push-left192 {
  position: relative;
  left: 192px;
}

.push-left193 {
  position: relative;
  left: 193px;
}

.push-left194 {
  position: relative;
  left: 194px;
}

.push-left195 {
  position: relative;
  left: 195px;
}

.push-left196 {
  position: relative;
  left: 196px;
}

.push-left197 {
  position: relative;
  left: 197px;
}

.push-left198 {
  position: relative;
  left: 198px;
}

.push-left199 {
  position: relative;
  left: 199px;
}

.push-left200 {
  position: relative;
  left: 200px;
}
/*# sourceMappingURL=style.css.map */