@charset "UTF-8";
/* css 註解 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;400;700&display=swap");
.NotoSerif100 {
  font-family: "'Noto Serif TC', serif;', sans-serif";
  font-weight: 100;
}

.NotoSerif200 {
  font-family: "'Noto Serif TC', serif;', sans-serif";
  font-weight: 200;
}

.NotoSerif {
  font-family: "'Noto Serif TC', serif;', sans-serif";
  font-weight: 400;
}

.NotoSerif700 {
  font-family: "'Noto Serif TC', serif;', sans-serif";
  font-weight: 700;
}

.container .logo {
  width: 120px;
  height: 30px;
}

.container nav .menu {
  list-style: none;
}

.container nav .menu li {
  background-color: #c4c4c4;
  padding: 10px;
  width: 150px;
}

.container nav .menu li:hover {
  background-color: #ff8585;
}

.container nav .menu li::before {
  content: 'before';
  margin-right: 10px;
}

.container nav .menu li::after {
  content: 'after';
  color: #1780ff;
}

.about_wrapper {
  width: 1200px;
}

body {
  margin: 10px 10px 10px 2px;
  font-size: 20px;
  color: #727272;
  background-color: #fff;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 12px;
}

h1 {
  margin: 0px;
}

.box {
  width: 21px;
  height: 8px;
  max-width: 200px;
  font: 0.5;
  margin: 6;
}

.btn-w {
  width: 190px;
  padding: 13px;
  background-color: #333;
}

.box2 {
  width: 200px;
  height: 100px;
  background-color: #c6c6c6;
}

.box3 {
  width: 200px;
  height: 100px;
  background-color: #c6c6c6;
}

.btn_big {
  width: 200px;
  padding: 12px;
}

.btn_medium {
  width: 180px;
  padding: 10px;
}

.rect {
  width: 100px;
  height: 100px;
}

.btn-error {
  width: 160px;
  height: 160px;
  padding: 13px;
  background-color: #f54d44;
  text-align: center;
  cursor: pointer;
  border-radius: 12px;
  transition: .2s all ease;
  border: 3px solid #6d0000;
  color: #fff;
}

.btn-error:hover {
  background-color: #c8140b;
}

.btn-success {
  width: 140px;
  height: 140px;
  padding: 10px;
  background-color: #5dffe1;
  text-align: center;
  cursor: pointer;
  border-radius: 12px;
  transition: .2s all ease;
}

.btn-success:hover {
  background-color: #00f6c8;
}

.btn-info {
  width: 140px;
  height: 140px;
  padding: 10px;
  background-color: #5d86ff;
  text-align: center;
  cursor: pointer;
  border-radius: 12px;
  transition: .2s all ease;
}

.btn-info:hover {
  background-color: #003ef6;
}

.box4 {
  width: 100px;
  height: 30px;
  text-align: center;
}

.bg-a1 {
  background-image: url("./images/a1.jpg");
  width: 100%;
  height: 150px;
  background-repeat: none;
  background-size: cover;
}

.bg-a2 {
  background-image: url("./images/a2.jpg");
  width: 100%;
  height: 150px;
  background-repeat: none;
  background-size: cover;
}

.bg-a3 {
  background-image: url("./images/a3.jpg");
  width: 100%;
  height: 150px;
  background-repeat: none;
  background-size: cover;
}

.bg-b1 {
  background-image: url("./images/b1.jpg");
  width: 100%;
  height: 150px;
  background-repeat: none;
  background-size: cover;
}

.bg-b2 {
  background-image: url("./images/b2.jpg");
  width: 100%;
  height: 150px;
  background-repeat: none;
  background-size: cover;
}

.bg-b3 {
  background-image: url("./images/b3.jpg");
  width: 100%;
  height: 150px;
  background-repeat: none;
  background-size: cover;
}

.bg-c1 {
  background-image: url("./images/c1.jpg");
  width: 100%;
  height: 150px;
  background-repeat: none;
  background-size: cover;
}

.bg-c2 {
  background-image: url("./images/c2.jpg");
  width: 100%;
  height: 150px;
  background-repeat: none;
  background-size: cover;
}

.bg-c3 {
  background-image: url("./images/c3.jpg");
  width: 100%;
  height: 150px;
  background-repeat: none;
  background-size: cover;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 12px;
}

.small {
  font-size: 10px;
}

.head {
  font-size: 60px;
}

.rect-primary {
  width: 200px;
  height: 30px;
  background-color: #ffe2a9;
  margin-top: 10px;
}

.rect-secondary {
  width: 200px;
  height: 30px;
  background-color: #ebff87;
  margin-top: 10px;
}

.rect-success {
  width: 200px;
  height: 30px;
  background-color: #0638ff;
  margin-top: 10px;
}

.rect-info {
  width: 200px;
  height: 30px;
  background-color: #ccfef2;
  margin-top: 10px;
}

.card_primary {
  width: 300px;
  height: 240px;
  box-shadow: 1px 1px 10px #d8d8d8;
  border-radius: 10px;
  background-color: #ffe2a9;
  display: inline-block;
}

.card_secondary {
  width: 300px;
  height: 240px;
  box-shadow: 1px 1px 10px #d8d8d8;
  border-radius: 10px;
  background-color: #ebff87;
  display: inline-block;
}

.card_success {
  width: 300px;
  height: 240px;
  box-shadow: 1px 1px 10px #d8d8d8;
  border-radius: 10px;
  background-color: #0638ff;
  display: inline-block;
}

.card_info {
  width: 300px;
  height: 240px;
  box-shadow: 1px 1px 10px #d8d8d8;
  border-radius: 10px;
  background-color: #ccfef2;
  display: inline-block;
}

@media all and (max-width: 600px) {
  .card_secondary {
    background-color: #28b301;
  }
}

@media all and (max-width: 600px) {
  h1 {
    font-size: 200px;
  }
}

@media all and (min-width: 601px) {
  h1 {
    font-size: 100px;
  }
}

body {
  background-color: rgba(189, 189, 189, 0.966);
}

@media all and (max-width: 600px) {
  body {
    background-color: #f4ffa9;
  }
}

.red {
  color: red;
}

.text {
  color: yellow;
}

.green, .textbox {
  color: #28b301;
}

.text {
  font-size: 20px;
  font-weight: 900;
}

.textbox {
  width: 400px;
  height: 300px;
  background-color: #cbfffc;
}

.marginAuto, .layout, .wrapperfix {
  margin: 0 auto;
}

.layout .boxs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.layout {
  width: 1200px;
  height: 400px;
  background-color: #5d86ff;
  position: relative;
}

.layout .boxs {
  width: 200px;
  height: 100px;
  background-color: #ccfe9b;
}

.wrapperfix {
  width: 1200px;
  background-color: salmon;
  height: 300px;
}

.wrapperfull {
  width: 100%;
  display: block;
  background-color: sandybrown;
  height: 300px;
}
/*# sourceMappingURL=style.css.map */