/* css 註解 */
// var
@import 'base/var';
@import 'base/font';
@import 'base/common';

// mixin
@import 'mixin/mixins';


//plugin

@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/owl.carousel/src/scss/owl.carousel.scss';


// module
@import './modules/btn';
@import './modules/card';
@import './modules/form';


// layout
@import './layout/header'; 
@import './layout/footer'; 
@import './layout/login'; 
@import './layout/nav'; 
@import './layout/cart';


// page
@import 'page/index';
@import 'page/about';
@import 'page/product';
@import 'page/product-item';












body {
    margin: $margin;
    font-size: $fontsize;
    color: $fontColor;
    border: $null;


    @if $bgc==gray {
        background-color: gray;
    }

    @else {
        background-color: #fff;

    }
}

@each $k,
$v in $title {
    #{$k} {
        font-size: $v;
    }
}

// h1 {
//  font-size: map-get($title , h1);
// }

// h2 {
//  font-size: map-get($title , h2);
// }

// h3 {
//  font-size: map-get($title , h3);
// }


//判斷式
$vaule : 21;


@if $vaule <=10 {
    h1 {
        margin: 10px;
    }
}

@else if $vaule==20 {
    h1 {
        margin: 20px;
    }

}

@else {
    h1 {
        margin: 0px;
    }
}

// 運算

.box {
    width: 10px + 11px; // 加  
    height: 10px - 2; //減
    max-width: 10 * 20 + px;
    font: (15px / 30px); // 除法
    margin: ceil(16 / 3) // floor  round  ceil
}


// Nesting

// .wrapper nav ul {
//     list-style: none;
// }

// .wrapper nav ul li {
//    padding: 0;
// }










.btn-w {
    @include btn-test(190px, 13px);
}

.box2 {
    @include rects
}

.box3 {
    @include rects
}


.btn_big {
    @include botton-big
}

.btn_medium {
    @include botton-default
}


.rect {
    @include rect(100px);
}

@include btn('error', 160px, 13px, rgb(245, 77, 68)) {
    border: 3px solid rgb(109, 0, 0);
    color: #fff;

}

;
@include btn('success', 140px, 10px, rgb(93, 255, 225));
@include btn('info', 140px, 10px, rgb(93, 134, 255));


.box4 {
    @include rect(100px, 30px);
    text-align: center;
}

//迴圈


@mixin push($num, $dir) {
    @for $i from 1 through $num {
        .push-#{$dir}#{$i} {
            position: relative;
            #{$dir}: $i * 1px;
        }
    }
}

// @include push(200, left);
// @include push(200, top);

// each 迴圈

$img : a1 a2 a3 b1 b2 b3 c1 c2 c3; // list

@each $v in $img {
    .bg-#{$v} {
        background-image: url('./images/#{$v}.jpg');
        @include rect (100%, 150px);
        background-repeat: none;
        background-size: cover;
    }
}


// $primary:       $blue !default;
// $secondary:     $gray-600 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-900 !default;


$head : ('h1' : 50px,
    'h2' : 40px,
    'h3' : 30px,
    'h4' : 20px,
    'h5' : 12px,
    '.small' : 10px,
    '.head' : 60px);

@each $t,
$val in $head {
    #{$t} {
        font-size: $val;
    }
}

$colorb : ('primary' : rgb(255, 226, 169),
    'secondary' : rgb(235, 255, 135),
    'success' : rgb(6, 56, 255),
    'info' : rgb(204, 254, 242),
);

@each $k,
$v in $colorb {
    .rect-#{$k} {
        @include rect(200px, 30px);
        background-color: $v;
        margin-top: 10px;
    }
}


@each $k,
$v in $colorb {

    .card_#{$k} {
        @include rect(300px, 240px);
        box-shadow: 1px 1px 10px rgb(216, 216, 216);
        @include borderR(10px);
        background-color: $v;
        display: inline-block;
    }
}

@include m() {
    .card_secondary {
        background-color: rgb(40, 179, 1);
    }
}

@include m() {
    h1 {
        font-size: 200px;
    }
}

@include d() {
    h1 {
        font-size: 100px;
    }
}

body {
    background-color: rgba(189, 189, 189, 0.966);

    @include m() {
        background-color: rgb(244, 255, 169);
    }

}




.red {
    color: red
}

%yellow {
    color: yellow;
}

.green {
    color: rgb(40, 179, 1)
}

@mixin red() {
    color: red;
}


.text {
    font-size: 20px;
    font-weight: 900;
    @extend %yellow;
}

.textbox {
    @include rect(400px, 300px);
    background-color: rgb(203, 255, 252);
    @extend .green;

}

// layout

// 置中



.layout {
    @include rect(1200px, 400px);
    @extend .marginAuto;
    background-color: rgb(93, 134, 255);
    position: relative;

    //    @extend %flexcenter;
    .boxs {
        @include rect(200px, 100px);
        background-color: rgb(204, 254, 155);
        @extend %abscenter;
        @extend .borderR ;
    }
}




//固定寬
.wrapperfix {
    @include layout(1366px);
    background-color: salmon;
    height: 300px;
}

// 滿版
.wrapperfull {
    @include layout(100);
    background-color: sandybrown;
    height: 300px;
    display: flex;
}

// grid system
// 1 / 12
@mixin grids($device, $num) {
    @for $i from 1 through $num {
        .col-#{$device}-#{$i} {
            width: ($i / $num) * 100%;
            &:nth-child(odd) {
              background-color: rgb(255, 217, 217);
            }
            @content;
        }
    }
}



@include d() {
    @include grids('md', 12);
}

@include m() {
    @include grids('xs', 12);
}



.graypink {
    background-color: rgb(171, 136, 136);
}

$aa : 10px;
$aa : 20px ;