// mixin 變數
@mixin btn-test($w, $p) {
    width: $w;
    padding: $p;
    background-color: #333;
}

// 函式

@mixin rects {
    width: 200px;
    height: 100px;
    background-color: rgb(198, 198, 198);
}

@mixin botton-big {
    width: 200px;
    padding: 12px;
}

@mixin botton-default {
    width: 180px;
    padding: 10px;
}

// ====================
@mixin rect($w , $h:$w){
  width: $w;
  height: $h;
  @content;
}

// ====================
@mixin borderR($r){
  border-radius: $r
}


@mixin btn( $class, $w, $p, $bgc) {
    .btn-#{$class} { // 轉型
        @include rect($w);
        padding: $p;
        background-color: $bgc;
        text-align: center;
        cursor: pointer;
        @include borderR(12px);
        transition: .2s all ease;
        @content;
        &:hover {
            background-color: darken($bgc, 20);
        }
    }
}

@mixin m() {
    @media all and (max-width: $m) {
        @content;
    }

}

@mixin d() {
    @media all and (min-width: $d) {
        @content;
    }
}
