@import 'base/var';

body {
font-size: $fontSize;
line-height: 1.3;
background-color: rgb(254, 22, 22);
color: #fff;
 .wrapper{
   width:  1300px;
   margin: 0 auto;
   //height:(10 / 2) * 1px;  查dart js scss
 }
}