body {
 padding: 0;
 margin: 0;
}

section {
   width: 100vw;
   height: 100vh;
   background-color: rgb(65, 65, 65);
}

section:nth-child(odd) {
  background-color: rgb(125, 125, 125);
}


.box  {
  width: 100px;
  height:  100px;
  position: relative;
  top: 10px;
  left: 10px;
}

.green {
  background-color: rgb(83, 242, 107);
}

.mv01 {
   position: relative;
   top: 200px;
   left: 300px
} 

.mv03 {
 background-color: rgb(196, 77, 255);

}

.mv11 {
  border-radius:50%;
  text-align: center;

}