/* css 註解 */

@import 'var';

body {
    margin: $margin;
    padding: 10px;
    font-size: $fontsize;
    color: $fontColor;
    border: $null;


    @if $bgc==gray {
        background-color: gray;
    }

    @else {
        background-color: #fff;

    }
}

@each $k,
$v in $title {
    #{$k} {
        font-size: $v;
    }
}

// h1 {
//  font-size: map-get($title , h1);
// }

// h2 {
//  font-size: map-get($title , h2);
// }

// h3 {
//  font-size: map-get($title , h3);
// }


//判斷式
$vaule : 21;


@if $vaule <=10 {
    h1 {
        margin: 10px;
    }
}

@else if $vaule==20 {
    h1 {
        margin: 20px;
    }

}

@else {
    h1 {
        margin: 0px;
    }
}

// 運算

.box {
    width: 10px + 11px; // 加  
    height: 10px - 2; //減
    max-width: 10 * 20 + px;
    font: (15px / 30px); // 除法
    margin: ceil(16 / 3) // floor  round  ceil
}


// Nesting

// .wrapper nav ul {
//     list-style: none;
// }

// .wrapper nav ul li {
//    padding: 0;
// }

@import 'layout/index';
@import 'layout/about';



// 函式

@mixin rect {
    width: 200px;
    height: 100px;
    background-color: rgb(198, 198, 198);
}

@mixin botton-big {
    width: 200px;
    padding: 12px;
}

@mixin botton-default {
    width: 180px;
    padding: 10px;
}

// mixin 變數
@mixin btn-test($w, $p) {
    width: $w;
    padding: $p;
    background-color: #333;
}


.btn-w {
    @include btn-test(190px, 13px);
}

.box2 {
    @include rect
}

.box3 {
    @include rect
}


.btn_big {
    @include botton-big
}

.btn_medium {
    @include botton-default
}

@mixin btn( $class, $w, $p, $bgc) {
    .btn-#{$class} { // 轉型
        width: $w;
        padding: $p;
        background-color: $bgc;
        text-align: center;
        cursor: pointer;
        border-radius: 10px;
        transition: .2s all ease;
        &:hover {
            background-color: darken($bgc, 20);
        }
    }
}


    @include btn('error', 160px, 13px, rgb(245, 77, 68));
    @include btn('success', 140px, 10px, rgb(93, 255, 225));
    @include btn('info', 140px, 10px, rgb(93, 134, 255));
