body {
 padding: 0;
 margin: 0;
}

section {
   width: 100vw;
   height: 100vh;
   background-color: rgb(65, 65, 65);
}

section:nth-child(odd) {
  background-color: rgb(125, 125, 125);
}


.box  {
  width: 100px;
  height:  100px;
  position: relative;
  top: 10px;
  left: 10px;
  margin-top: 2px;
}

.green {
  background-color: rgb(83, 242, 107);
}

.mv01 {
   position: relative;
   top: 200px;
   left: 300px
} 

.mv03 {
 background-color: rgb(196, 77, 255);

}

.mv11 {
  border-radius:50%;
  text-align: center;

}


.btn {
  padding: 3px 10px;
  background-color: #62b6ff;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  transition: .3s all ease;
}
.btn:hover {
  background-color: #0086fb;
}

ul , li{

 margin: 0;
 padding: 0;
 list-style: none;

}

.nav {
  background-color: rgb(232, 232, 232);
  width: 80px;
  text-align: center;
}

.nav li {
  height: 30px;
  margin: 5px 0;

}

.title {

  font-size: 30px;
  font-weight: bold;
  color:rgb(196, 77, 255);

}